/* Main */

/* wrapper */
#instagram-dark-wrapper {
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

#instagram-dark-wrapper>* {
    pointer-events: initial;
}

/* appearance popup */
#instagram-dark-wrapper .appearance {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(91, 112, 131, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

#instagram-dark-wrapper .appearance .appearance-container {
    min-width: 600px;
    max-width: 80vw;
    background-color: rgba(var(--d87,255,255,255),1);
    padding: 15px;
    border-radius: 12px;
}

#instagram-dark-wrapper .appearance .appearance-container .appearance-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 0;
}

#instagram-dark-wrapper .appearance .appearance-container .appearance-header .appearance-header-title {
    font-size: 20px;
    font-weight: 600;
}

#instagram-dark-wrapper .appearance .appearance-container .appearance-header .appearance-header-description {
    margin-top: 15px;
    color: rgba(var(--f52,142,142,142),1);
}

#instagram-dark-wrapper .appearance .appearance-container .appearance-categories {
    margin-top: 15px;
}

#instagram-dark-wrapper .appearance .appearance-container .appearance-categories .appearance-category {
    margin-top: 10px;
}

#instagram-dark-wrapper .appearance .appearance-container .appearance-categories .appearance-category:first-child {
    margin-top: 0;
}

#instagram-dark-wrapper .appearance .appearance-container .appearance-categories .appearance-category .appearance-category-title {
    font-weight: 600;
}

#instagram-dark-wrapper .appearance .appearance-container .appearance-categories .appearance-category .appearance-category-selector {
    margin-top: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgba(var(--f52,142,142,142),1);
    border-radius: 12px;
}

#instagram-dark-wrapper .appearance .appearance-container .appearance-categories .appearance-category .appearance-category-selector .appearance-category-selector-card {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: red;
    border-radius: 12px;
    margin: 0 5px;
    min-height: 50px;
    cursor: pointer;
}

#instagram-dark-wrapper .appearance .appearance-container .appearance-categories .appearance-category .appearance-category-selector .appearance-category-selector-card:first-child {
    margin-left: 0;
}

#instagram-dark-wrapper .appearance .appearance-container .appearance-categories .appearance-category .appearance-category-selector .appearance-category-selector-card:last-child {
    margin-right: 0;
}

/* toggle dark button */
#instagram-dark-toggle-button {
	display: flex;
    flex-direction: row;
	align-items: center;
	height: 37px;
	border: none;
	text-align: left;
	padding-left: 16px;
	cursor: pointer;
    user-select: none;
}

#instagram-dark-toggle-button img {
	width: 16px;
	height: 16px;
	padding-right: 12px;
}
/* toggle dark button */
#template-theme-modal-button {
	display: flex;
    flex-direction: row;
	align-items: center;
	height: 37px;
	border: none;
	text-align: left;
	padding-left: 16px;
	cursor: pointer;
    user-select: none;
}

#template-theme-modal-button img {
	width: 16px;
	height: 16px;
	padding-right: 12px;
}

/* Animations */

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

/* Redesign */

/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body,
input,
button,
textarea {
    font-family: "Poppins", sans-serif !important;
}

/* font fix issues with poppins size */

/*  */
.gmFkV {
    overflow: inherit !important;
}

/* Resizing height of textarea to comment posts */
.Ypffh {
    height: 20px !important;
}

/* scrollbar */
html,
body {
    scrollbar-color: rgba(var(--f52,142,142,142),1) rgba(var(--b6a,219,219,219),1);
}

::-webkit-scrollbar {
    width: 7px;
    /* for vertical scrollbars */
    height: 7px;
    /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgba(var(--b6a,219,219,219),1);
}

::-webkit-scrollbar-thumb {
    background: rgba(var(--f52,142,142,142),1);
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    height: 30px;
}

/* stories box */
.zGtbP.IPQK5.VideM {
	border: none;
	border-bottom: none;
	background: none;
	padding: 0;
	left: -3px;
}

/* nav brand logo */
.MWDvN ._7Nzh3 {
    display: none;
}

/* story circle */
.RR-M-.QN629 {
    transition: all .2s;
}
.RR-M-.QN629:hover {
	transform: scale(1.05);
}

/* nav bar search background */
.pbgfb {
	border-radius: 10px !important;
    border: none !important;
    background: rgba(var(--bb2,239,239,239),1) !important;
}

/* search background when searching */
.XTCLo.x3qfX {
	border-radius: 10px;
    border: none;
    background: rgba(var(--bb2,239,239,239),1);
}

/* sidebar nav copyright */
.SkY6J .DINPA {
    display: none;
}

/* footer copyright */
footer[role="contentinfo"] .qF0y9.Igw0E.IwRSH.eGOV_._4EzTm._5VUwz {
    display: none;
}

/* Modal */
.modal-dark-theme{
    display: block;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    
}
.modal-dark-theme .modal-dark-theme-box{
    background-color: #fff;
    border-radius: 21px;
    margin: 25% auto;
    padding: 1rem max(3vw, 2rem);
    border: 3px solid var(--rouge);
    width: clamp(300px, 90%, 700px);
    position: relative;
    border-radius: 15px;
    box-shadow:  0px 0px 18px 10px #d0d0d0;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}
.modal-dark-theme .modal-dark-theme-box .modal-box-themes{
    display: flex;
    flex-flow: column nowrap;
    border-radius: 15px;
    width: calc(20% - 1rem);
    padding: .7rem;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0px 0px 6px 4px #d0d0d0;
}