:root {
    /* Black */
    --b3f: 0, 0, 0 !important;
    --d87: 0, 0, 0 !important;
    --f23: 0, 0, 0 !important;
    /* White */
    --i1d: 255, 255, 255 !important;
    --f75: 255, 255, 255 !important;
    /* Grey */
    --ce3: 38, 38, 38 !important;
    --b38: 38, 38, 38 !important;
    --b6a: 38, 38, 38 !important;
    --ca6: 38, 38, 38 !important;
    --bb2: 38, 38, 38 !important;
    /* Others */
    --fe0: 0, 149, 246 !important;
}

body {
    background: rgb(0, 0, 0) !important;
}

svg {
    color: rgb(255, 255, 255) !important;
    fill: rgb(255, 255, 255) !important;
}

/* red heart color */

svg[fill="#ed4956"] {
    fill: rgb(237, 73, 86) !important;
}

/* from black to white */

.s4Iyt, .felixSpriteProfileChannelNullState, .coreSpriteSaveNull, .coreSpriteTaggedNull, .coreSpriteLoggedOutWordmark, .coreSpriteKeyhole, .glyphsSpriteDirect__outline__24__grey_9, .glyphsSpriteFacebook_circle__outline__24__grey_9, .glyphsSpriteApp_instagram__outline__24__grey_9, .glyphsSpriteApp_messenger__outline__24__grey_9, .glyphsSpriteApp_twitter__outline__24__grey_9, .glyphsSpriteApp_whatsapp__outline__24__grey_9, .glyphsSpriteMail__outline__24__grey_9, .glyphsSpriteLink__outline__24__grey_9, .glyphsSpriteLocation__outline__24__grey_9, .glyphsSpriteCall__outline__24__grey_9, .glyphsSpriteFriend_Follow, .coreSpriteDropdownArrowGrey9, .glyphsSpriteCamera__outline__24__grey_9, .glyphsSpriteLock__outline__24__grey_9, .glyphsSpriteCircle_add__outline__24__grey_9, .glyphsSpriteDirect__outline__96 {
    filter: grayscale(0) brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}

/* from white to black 

.className {
    filter: grayscale(1) invert(1);
    -webkit-filter: grayscale(1) invert(1);
}*/

/* Specific classes */

/* Removing color of "Log in with Facebook" on Login page */

.KPnG0 {
    color: inherit !important;
}

/* Removing the forgotten shadow by Instagram in Profile menu */

.TOh1s {
    display: none;
}

/* Color of link from links of hashtags, profiles */

._7kTyW {
    color: #fff !important;
}

/* Bacground color of sound icon */

.IhCmn {
    background-color: #262626 !important;
}

/* Background color of the bottom left box in /accounts */

.wpHm3.Igw0E.IwRSH.eGOV_._4EzTm.O1flK.fm1AK {
    background: #000 !important;
}

/* Color of the card title in /session/login_activity */

.leaflet-popup.leaflet-zoom-animated ._7UhW9.xLCgt.qyrsm.KV-D4.uL8Hv {
    color: #000 !important;
}

/* Color of IGTV Upload in /tv/upload */


form .hSy4z, form .Ouy_P, form .t3CGe {
    color: #fff;
}

/* Fix white background and color /settings/help */
article.PVkFi [data-bloks-name="bk.components.Flexbox"] * {
    background: #000 !important;
    color: #fff !important;
}

article.PVkFi [data-bloks-name="bk.components.Flexbox"] [data-bloks-name="ig.components.Icon"] {
    background: #fff !important;
}

/*
    Instgram basic colors

.sDN5V {
    --i1d: 38,38,38;
    --edc: 199,199,199;
    --f75: 38,38,38;
    --fe0: 0,55,107;
    --d87: 255,255,255;
    --b3f: 250,250,250;
    --bb2: 239,239,239;
    --f23: 255,255,255;
    --b38: 219,219,219;
    --b6a: 219,219,219;
    --ca6: 219,219,219;
    --cdd: 38,38,38;
    --e22: 199,199,199;
    --e62: 245,251,255;
    --b2f: 88,195,34;
    --c8c: 168,168,168;
    --ce3: 239,239,239;
    --jd9: 0,0,0;
    --j64: 54,54,54;
    --a97: 243,243,243;
    --d20: 38,38,38;
}

.ekjoN, .sDN5V {
    --f52: 142,142,142;
    --h1d: 255,255,255;
    --de5: 255,255,255;
    --d69: 0,149,246;
    --b86: 88,195,34;
    --i30: 237,73,86;
    --d62: 255,255,255;
    --a72: 255,255,255;
    --ie3: 142,142,142;
    --c37: 237,73,86;
    --f24: 0,149,246;
    --jbb: 53,121,234;
    --eca: 255,255,255;
    --jb7: 0,0,0;
    --fa7: 224,241,255;
    --ba8: 168,168,168;
    --eac: 237,73,86;
}
*/