:root{
    /* Dark Red */
        /* Background and right sider */
    --b3f: 0, 0, 175 !important;
        /* Header and box background */
    --d87: 0, 0, 175 !important;
        /* Don't know */
    --f23: 0, 0, 175 !important;
    /* Light Red */
        /* title and text in bold */
    --i1d: 97, 97, 255 !important;
        /* title of the posts and selected items */
    --f75: 97, 97, 255 !important;
    /* Red */
        /* Line color top img pots and bottom of the posts */
    --ce3: 0, 0, 255 !important;
        /* line separator (settings) */
    --b38: 0, 0, 255 !important;
        /* Border of the box (pots) and bottom header */
    --b6a: 0, 0, 255 !important;
        /* border of the inputs */
    --ca6: 0, 0, 255 !important;
        /* background of search box (header) */
    --bb2: 0, 0, 255 !important;
    /* Others */
        /* Don't know */
    --fe0: 0, 149, 246 !important;
    /* p-modal */
    --p-modal: 236, 233, 227 !important;
}

body {
    background: rgb(236, 233, 227) !important;
}

svg {
    color: rgb(236, 233, 227) !important;
    fill: rgb(236, 233, 227) !important;
}

/* red heart color */

svg[fill="#ed4956"] {
    fill: rgb(237, 73, 86) !important;
}

/* Specific classes */

/* Removing color of "Log in with Facebook" on Login page */

.KPnG0 {
    color: inherit !important;
}

/* Removing the forgotten shadow by Instagram in Profile menu */

.TOh1s {
    display: none;
}

/* Color of link from links of hashtags, profiles */

._7kTyW {
    color: #ece9e3 !important;
}

/* Bacground color of sound icon */

.IhCmn {
    background-color: #262626 !important;
}

/* Background color of the bottom left box in /accounts */

.wpHm3.Igw0E.IwRSH.eGOV_._4EzTm.O1flK.fm1AK {
    background: #000 !important;
}

/* Color of the card title in /session/login_activity */

.leaflet-popup.leaflet-zoom-animated ._7UhW9.xLCgt.qyrsm.KV-D4.uL8Hv {
    color: #000 !important;
}

/* Color of IGTV Upload in /tv/upload */


form .hSy4z, form .Ouy_P, form .t3CGe {
    color: #ece9e3;
}

/* Fix white background and color /settings/help */
article.PVkFi [data-bloks-name="bk.components.Flexbox"] * {
    background: #000 !important;
    color: #ece9e3 !important;
}

article.PVkFi [data-bloks-name="bk.components.Flexbox"] [data-bloks-name="ig.components.Icon"] {
    background: #ece9e3 !important;
}